<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <!--Question1 Beans-->
    <bean id="customer1" class="org.example.pojo.Customer" scope="prototype">
        <property name="customerId" value="1" />
        <property name="customerName" value="Arpit" />
        <property name="monthlyIncome" value="100000.0" />
        <property name="profession" value="SDE" />
        <property name="designation" value="Junior" />
        <property name="companyName" value="Nucleus Software" />
    </bean>

    <bean id="customer2" class="org.example.pojo.Customer" scope="singleton">
        <constructor-arg name="customerId" value="2" />
        <constructor-arg name="customerName" value="Rahul" />
        <constructor-arg name="monthlyIncome" value="200000.0" />
        <constructor-arg name="profession" value="SDE" />
        <constructor-arg name="designation" value="Senior" />
        <constructor-arg name="companyName" value="Nucleus Software" />
    </bean>
    <bean id="customer3" class="org.example.pojo.Customer" scope="singleton">
        <constructor-arg name="customerId" value="3" />
        <constructor-arg name="customerName" value="Adarsh" />
        <constructor-arg name="monthlyIncome" value="200000.0" />
        <constructor-arg name="profession" value="SDE" />
        <constructor-arg name="designation" value="Senior" />
        <constructor-arg name="companyName" value="Nucleus Software" />
        <property name="customerName" value="Anand" />
    </bean>


    <!--Question2 Beans-->
    <bean id="customer4" class="org.example.pojo.Customer" scope="singleton">
        <property name="customerId" value="4" />
        <property name="customerName" value="Abhijeet" />
        <property name="monthlyIncome" value="76000.0" />
        <property name="profession" value="Software Expert" />
        <property name="designation" value="Team Lead" />
        <property name="companyName" value="Nucleus Software" />
    </bean>


    <!--Question-3 Beans-->
    <bean id="customerq3" class="org.example.pojo.CustomerQ3" scope="prototype">
        <property name="customerId" value="1" />
        <property name="customerName" value="Amit" />
        <property name="monthlyIncome" value="10000.0" />
        <property name="profession" value="SDE" />
        <property name="designation" value="Junior" />
        <property name="companyName" value="Nucleus Software" />
        <property name="phoneNumber">
            <list>
                <value>"9653"</value>
                <value>"9125"</value>
                <value>"9415"</value>
                <value>"1234"</value>
                <value>"1234"</value> <!--Same Value as its list-->
            </list>
        </property>
        <property name="emailAddress">
            <set>
                <value>"pathak@gmail.com"</value>
                <value>"pathak@gmail.com"</value> <!--Checking for the duplicate value-->
                <value>"aynkar@gmail.com"</value>
                <value>"rahul@gmail.com"</value>

            </set>

        </property>
    </bean>






</beans>